h1{
    color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.parrafo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: fuchsia;

}